*.PrjPcb.Zip
*.SchDocPreview
*.Zip
PCB_Project_IoT_Source/Project Logs for PCB_Project_IoT_Source/
PCB_Project_IoT_Source/Project Outputs for PCB_Project_IoT_Source/Design Rule Check - PCB_IoT_Source.html
PCB_Project_IoT_Source/Project Outputs for PCB_Project_IoT_Source/Design Rule Check - PCB_IoT_Source.drc
PCB_Project_IoT_Source/Layout/PCB_IoT_Source.txt
PCB_Project_IoT_Source/Layout/PCB_IoT_Source.html
